<h1 style="color:#3A5311;">10K Club Share Purchase Form Submitted</h1>

<table>
  <tr>
    <td>Name:</td>
    <td><%= @user.full_name %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td>MEMBER/GROUP MEMBERSHIP NO::</td>
    <td><%= @user.member_code %></td>
  </tr>
  <tr>
    <td>PROPERTY:</td>
    <td><%= Property.find(@share_buy_request.property_id).Code %></td>
  </tr>
  <tr>
    <td>Number of Share(s):</td>
    <td><%= @share_buy_request.no_of_shares %></td>
  </tr>
  <tr>
    <td>Total Amount of Money Paid:	</td>
    <td><%= number_to_currency(@share_buy_request.total, :unit => "Ksh") %></td>
  </tr>
  <tr>
    <td>Payment options:</td>
    <td><%= @share_buy_request.pay_method %></td>
  </tr>
  <tr>
    <td>Enter Transaction Confirmation Code:</td>
    <td><%= @share_buy_request.transaction_id %></td>
  </tr>
  <tr>
    <td>Submitted On:	</td>
    <td><%= @share_buy_request.created_at %></td>
  </tr>
</table>
