<%= form_for(@share_sell_request, html: { class: 'form-horizontal'}) do |f| %>
  <% if @share_sell_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@share_sell_request.errors.count, "error") %> prohibited this share_sell_request from being saved:</h2>

      <ul>
      <% @share_sell_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.hidden_field :property_id, :value => params[:property_id] %></br>
  </div>
  <div class="field form-group">
    <%= f.label :Enter_no_of_shares_to_sell %></br>
    <%= f.text_field :no_of_shares, style: 'width: 28%;' %>
  </div>
  <div class="field form-group">
    <%= f.label :Enter_your_selling_price %></br>
    <%= f.text_field :sale_price, style: 'width: 28%;' %>
  </div>
  <div class="field form-group">
    <%= f.label :Select_duration_of_offer %></br>
    <span class="date_select"><%= f.date_select :validity_days, :order => [:day, :month, :year] %></span>
  </div>
  <div class="actions form-group">
    <%= f.submit "Sell Shares"%>
  </div>
<% end %>
<script type="text/javascript">
  $('[data-behaviour~=datepicker]').datepicker();
</script>
