<p id="notice"><%= notice %></p>



<p>
  <strong>M/s</strong>
  <%= User.find(@share_buy_request.user_id).full_name %>
</p>
You have expressed interest to buy <%= @share_buy_request.no_of_shares %> shares from
<% if @share_buy_request.shares.first.share_sell_request_id? %> User:
  <%= User.find(ShareSellRequest.find(@share_buy_request.shares.first.share_sell_request_id).user_id).member_code %>
<% else %>
  Invela Securities Ltd
<% end %> dated <%= @share_buy_request.created_at %>. The shares will be reserved for a period of 48 hours whithin which you are to have completed payment in full of the quoted amount


<table class="table">
  <thead>
    <tr class="success">
      <th>Item No.</th>
      <th>Item Description</th>
      <th>Transfer Fee</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Tota Amount Payable</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= Property.find(@share_buy_request.property_id).Code %></td>
      <td><%= Property.find(@share_buy_request.property_id).County %> Plot No: <%= Property.find(@share_buy_request.property_id).LR %></td>
      <td><% if Property.find(@share_buy_request.property_id).EndOffer > Date.today %>
            <%= number_to_currency((@share_buy_request.no_of_shares * 0).to_d, :unit => "Ksh") %>
          <% else %>
            <%= number_to_currency((@share_buy_request.no_of_shares * 300).to_d, :unit => "Ksh") %>
          <% end %></td>
      <td><%= @share_buy_request.no_of_shares %></td>
      <% if @share_buy_request.shares.first.share_sell_request_id? %>
        <td><%= number_to_currency(ShareSellRequest.find(@share_buy_request.share_sell_request_id).sale_price, :unit => "Ksh") %></td>
      <% else %>
        <td><%= number_to_currency(Property.find(@share_buy_request.property_id).ShareValue, :unit => "Ksh") %></td>
      <% end %>
      <td><%= number_to_currency(@share_buy_request.total, :unit => "Ksh") %></td>
    </tr>
  </tbody>
</table>

<% if current_user.superadmin_role || current_user.supervisor_role %>
  Transaction ID: <label class="lable label-success" ><%= @share_buy_request.transaction_id %></label> Payment made via <%= @share_buy_request.pay_method %></p>

  <% else %>
  <%= form_for(@share_buy_request, html: { class: 'form-horizontal'}) do |f| %>
    <% if @share_buy_request.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@share_buy_request.errors.count, "error") %> prohibited this share_buy_request from being saved:</h2>

        <ul>
        <% @share_buy_request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div class="field form-group">
      <div class="col-md-2">
        <%= f.label :Select_payment_option %></br>
        <%= f.select :pay_method, ['Mpesa PayBill', 'Bank Payement(Equity)', 'Sendwave App', 'Equity Direct']%>
      </div>
      <div class="col-md-2">
        <%= f.label :Enter_transaction_Code %></br>
        <%= f.text_field :transaction_id, style: 'width: 100%;' %>
      </div>
    </div>
      <%= f.submit "Complete Share Purchase"%>

  <% end %>


<% end %>

<%= link_to 'Back', share_buy_requests_path, class: "btn btn-info" %>
<% if current_user.superadmin_role? || current_user.supervisor_role? %>
 <% if @share_buy_request.status == false && @share_buy_request.transaction_id != nil %>
 <%= link_to 'Transfer Shares', transfer_share_buy_request_path(id: @share_buy_request.id), class: 'btn btn-info' %>
<%  end %>
<% end %>




<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 12px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 12px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-t2cw{font-weight:bold;text-decoration:underline;text-align:center;vertical-align:top}
.tg .tg-9hbo{font-weight:bold;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;margin: auto 0px;}}</style>
<div class="tg-wrap"><table class="tg">
  <tr>
    <th class="tg-t2cw">MPESA PAYMENT (PAYBILL)</th>
    <th class="tg-t2cw">BANK PAYMENT - EQUITY BANK</th>
    <th class="tg-t2cw">SENDWAVE PAYMENT</th>
    <th class="tg-t2cw">EQUITY DIRECT</th>
  </tr>
  <tr>
    <td class="tg-9hbo">PAYBILL No. 734630<br>Pay bill instructions <br>1. Go to Mpesa. <br>2. Go to Lipa na Mpesa. <br>3. Choose Paybill. <br>4. Enter Business No. <br>5. Write your name <br>6. Enter Pin.</td>
    <td class="tg-9hbo">Bank Transfer:<br>Bank: Equity <br>Acc:0550268094297 <br>Branch: Westlands <br>Swift: EQBLKENA <br>Code: 068</td>
    <td class="tg-9hbo">Sendwave Details:<br>Country: Kenya <br>Phone No.: 0727734630<br>- Sendwave is a free international <br>money transfer service.<br>- Download Sendwave <br>application and follow the instructions <br>- Click The links below to Download</td>
    <td class="tg-9hbo">Bank Details:<br>Bank: Equity <br>Acc: 0550268094297 <br>Branch: Westlands <br>Swift: EQBLKENA <br>Code: 068<br>- Download Equity Direct <br>application and follow the instructions<br> - Click The links below to Download</td>
  </tr>
  <tr>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
  </tr>
</table></div>
